<ion-view ng-controller="beerDetailCtrl" view-title="{{beer_details.name}}">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="{{beer_details.labels.icon}}">
    <h2>{{beer_details.name}}</h2>
    <p>{{beer_details.breweries[0].name}}</p>
  </div>

  <div class="item item-body">
    <div class="item-image"><img src="{{beer_details.labels.large}}"></div>
    <p>
      {{beer_details.description}}
    </p>
    <p>
      <b>Availability:</b> {{beer_details.available.description}}
    </p>
    <p class="card" style="text-align: center;">
      <a href="javascript:void(0)" class="subdued">ABV: {{beer_details.abv}}%</a>
      <a href="javascript:void(0)" class="subdued">IBU: {{beer_details.ibu}}</a>
      <a href="javascript:void(0)" class="subdued">Glass: {{beer_details.glass.name}}</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>

  </ion-content>
</ion-view>
