<ion-view title='My Title'>
<ion-nav-title>
    <i class="icon ion-beer"></i> <span style="color:red">Hello</span>World
</ion-nav-title>
  <ion-content>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="query">
      </label>
    </div>

      <ion-list can-swipe="listCanSwipe">
        <div class="item item-divider">
          Fort Thomas
        </div>
        <ion-item ng-repeat="beer in beerlist | filter: query" href="#/app/beer/{{beer.name}}">
          <div class="row">
            <div class="col col-75">
              <h2>{{beer.name}}</h2>
              <p><i>per {{beer.unit}}</i></p>
            </div>
            <div class="col" align="right">{{beer.price}}</div>
          </div>
          <ion-option-button class="button-positive" ng-click="share({{beer}})">
            <i class="icon ion-share"></i> &nbsp; Share
          </ion-option-button>
        </ion-item>
    </ion-list>
  </ion-content>




<!--   <ion-footer-bar align-title="left" class="bar-assertive">
  <div class="buttons">
    <button class="button">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons" ng-click="doSomething()">
    <button class="button">Right Button</button>
  </div>
</ion-footer-bar> -->
</ion-view>