<ion-view view-title="Locations" ng-controller="LocationsCtrl">
  <ion-content>
  <div class="row">
  	<div class="col"><h3><i class="icon ion-ios-location"></i> Locations</h3></div>
  </div>
	<div class="card">
	  <div class="item item-divider">
	    DEPS's Fort Thomas, KY
	  </div>
	  <div class="item item-text-wrap">
	  	<div class="row">
	  		<div class="col">
					<button class="round deps-magenta-bttn" ng-click="openMaps('424+Alexandria+Pike+Fort+Thomas,+KY+41075')"><i style="font-size: 30px;" class="icon ion-ios-navigate"></i></button>
	    	</div>
	  		<div class="col col-75">
	  			<p>
	    	424 Alexandria Pike <br>
	    	Fort Thomas, KY 41075<br>
	    	<i class="icon ion-ios-telephone"></i> <a href="tel:859-781-8105">859-781-8105</a>
	    </p>
	  		</div>
	  	</div>
	  </div>
	</div>

	<div class="card">
	  <div class="item item-divider">
	    DEPS's Covington, KY
	  </div>
	  <div class="item item-text-wrap">
	     	<div class="row">
	  		<div class="col">
	  		<button class="round deps-magenta-bttn" ng-click="openMaps('670+West+3rd+St+Covington,+KY+41011')"><i style="font-size: 30px;" class="icon ion-ios-navigate"></i></button>
	    	</div>
	  		<div class="col col-75">
		  		<p>
			    	4670 W 3rd St<br>
			    	Covington, KY 41011<br>
			    	<i class="icon ion-ios-telephone"></i> <a href="tel:859-291-2550">859-291-2550</a>
		    	</p>
	  		</div>
	  	</div>
	    
	  </div>
	</div>



  </ion-content>
</ion-view>
